<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

	<http auto-config="false" entry-point-ref="loginUrlAuthenticationEntryPoint">

		<intercept-url pattern="/j_spring_security_check" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/admin" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/aboutcybertel" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/faqcybertel" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/contactus" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/css/**" filters="none" />
		<intercept-url pattern="/images/**" filters="none" />
		<intercept-url pattern="/js/**" filters="none" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/distributor/**" access="ROLE_DISTRIBUTOR" />
		<intercept-url pattern="/franchisee/**" access="ROLE_FRANCHISEE" />
		<intercept-url pattern="/employee/**" access="ROLE_EMPLOYEE" />
		<intercept-url pattern="/**" access="ROLE_DISTRIBUTOR, ROLE_FRANCHISEE, ROLE_EMPLOYEE,ROLE_ADMIN" />
		
		<custom-filter position="FORM_LOGIN_FILTER"
			ref="customUsernamePasswordAuthenticationFilter" />

		<logout logout-success-url="/logout" />
	</http>
	
	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<password-encoder ref="passwordEncoder" />
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
		      select username,password, enabled 
		      from users where username=?"
				authorities-by-username-query="
		      select u.username, ur.authority from users u, user_roles ur 
		      where u.user_id = ur.user_id and u.username =?  " />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.authentication.encoding.MessageDigestPasswordEncoder">
		<beans:constructor-arg value="MD5" />
	</beans:bean>

	<beans:bean id="loginUrlAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/login" />
	</beans:bean>

	<beans:bean id="customUsernamePasswordAuthenticationFilter"
		class="com.cfeindia.b2bserviceapp.common.authentication.CustomUsernamePasswordAuthenticationFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="filterProcessesUrl" value="/j_spring_security_check" />
		<beans:property name="authenticationFailureHandler"
			ref="failureHandler" />
		<beans:property name="authenticationSuccessHandler"
			ref="successHandler" />

	</beans:bean>

	<beans:bean id="successHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/home" />
		<beans:property name="alwaysUseDefaultTargetUrl" value="true" />
	</beans:bean>

	<beans:bean id="failureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/loginfailed" />
	</beans:bean>
</beans:beans>